{% extends 'bj/base.html' %}
{% load static %}

{% block content %}
<h1>ブラックジャック</h1>

<div class="game_board">
    <div class="countainer">
        <h2>ディーラー</h2>
        <ul>
            {% for card in dealer_card %}
            <li><img src = "static/cards/{{card}}" class="card_img"></li>
            {% endfor %}
        </ul>
        <p>ディーラーポイント : {{dealer_point}}</p>

    </div>
    <div class="countainer">
        <h2>player</h2>
        <ul>
            {% for card in player_card %}
            <li><img src = "static/cards/{{card}}" class="card_img"></li>
            {% endfor %}
        </ul>
        <p>プレイヤーポイント : {{player_point}}</p>
    </div>

</div>
<p class="game_message">{{message}}</p>

<div class="user_form">
    {% if not turn %}
        {% if not flag %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="submit" value="go" name="start">
            </form>
        {% endif %}
    {% endif %}
    {% if turn %}
        <form action="" method="POST" >
            {% csrf_token %}
            <input type="submit" value="HIT" name="hit">
            <input type="submit" value="STAND" name="stand">
        </form>
    {% endif %}

    {% if flag %}
        <form action="" method="POST" >
            {% csrf_token %}
            <input type="submit" value="最初から" name="restart">
        </form>
    {% endif %}

</div>



{% endblock %}